# Video Games DDL

## Bridget Garvey, Vincent Rella, Zachary Wright

### Import modules and Jupyter extension

In [1]:
#import modules and load package
import sqlite3
import pandas as pd

%load_ext sql

### Connect to database

In [2]:
#Connect to VideoGames DB
%sql sqlite:///videogames.db

'Connected: None@videogames.db'

In [3]:
%%sql 
DROP TABLE Publisher;
DROP TABLE Platform;
DROP TABLE Region;
DROP TABLE Genre;
DROP TABLE ProductSalesFact;

Done.
Done.
Done.
Done.
Done.

[]

### Create tables for Database

In [4]:
#Create PUBLISHER table

In [5]:
%%sql

CREATE TABLE Publisher (
    PublisherID INTEGER PRIMARY KEY,
    Publisher TEXT
);

Done.

[]

In [6]:
#Create PLATFORM table

In [7]:
%%sql

CREATE TABLE Platform (
    PlatformID INTEGER NOT NULL PRIMARY KEY,
    Platform TEXT NOT NULL 
);

Done.

[]

In [8]:
#Create REGION table

In [9]:
%%sql

CREATE TABLE Region (
    ProductID Integer NOT NULL PRIMARY KEY,
    Global_Sales Real NOT NULL,
    NA_Sales Real NOT NULL,
    EU_Sales Real NOT NULL,
    JP_Sales Real NOT NULL,
    Other_Sales Real NOT NULL
);

Done.

[]

In [10]:
#Create GENRE table

In [11]:
%%sql

CREATE TABLE Genre (
    GenreID INTEGER NOT NULL PRIMARY KEY,
    Genre TEXT NOT NULL 
);

Done.

[]

In [12]:
#Create PRODUCTSALESFACT table

In [13]:
%%sql

CREATE TABLE ProductSalesFact (
    ProductID INTEGER NOT NULL PRIMARY KEY,
    PublisherID INTEGER NOT NULL, 
    PlatformID INTEGER NOT NULL,
    Global_Sales INTEGER NOT NULL,
    GenreID INTEGER NOT NULL,
    Year INTEGER,
    FOREIGN KEY (PublisherID) REFERENCES Publisher (PublisherID),
    FOREIGN KEY (PlatformID) REFERENCES Platform (PlatformID),
    FOREIGN KEY (ProductID) REFERENCES Region (ProductID),
    FOREIGN KEY (GenreID) REFERENCES Genre (GenreID)
);

Done.

[]

### View tables with PRAGMA queries

In [14]:
#PRAGMA query: Publisher

In [15]:
%%sql
pragma table_info('Publisher');

Done.

[(0, 'PublisherID', 'INTEGER', 0, None, 1),
 (1, 'Publisher', 'TEXT', 0, None, 0)]

In [16]:
#PRAGMA query: Platform

In [17]:
%%sql
pragma table_info('Platform');

Done.

[(0, 'PlatformID', 'INTEGER', 1, None, 1), (1, 'Platform', 'TEXT', 1, None, 0)]

In [18]:
#PRAGMA query: Region

In [19]:
%%sql
pragma table_info('Region');

Done.

[(0, 'ProductID', 'Integer', 1, None, 1),
 (1, 'Global_Sales', 'Real', 1, None, 0),
 (2, 'NA_Sales', 'Real', 1, None, 0),
 (3, 'EU_Sales', 'Real', 1, None, 0),
 (4, 'JP_Sales', 'Real', 1, None, 0),
 (5, 'Other_Sales', 'Real', 1, None, 0)]

In [20]:
#PRAGMA query: Genre

In [21]:
%%sql
pragma table_info('Genre');

Done.

[(0, 'GenreID', 'INTEGER', 1, None, 1), (1, 'Genre', 'TEXT', 1, None, 0)]

In [22]:
#PRAGMA query: ProductSalesFact

In [23]:
%%sql
pragma table_info('ProductSalesFact');

Done.

[(0, 'ProductID', 'INTEGER', 1, None, 1),
 (1, 'PublisherID', 'INTEGER', 1, None, 0),
 (2, 'PlatformID', 'INTEGER', 1, None, 0),
 (3, 'Global_Sales', 'INTEGER', 1, None, 0),
 (4, 'GenreID', 'INTEGER', 1, None, 0),
 (5, 'Year', 'INTEGER', 0, None, 0)]