## Import modules and Jupyter extension

In [1]:
import sqlite3
import pandas as pd

%load_ext sql

## Connect to database

In [2]:
%sql sqlite:///videogames.db

'Connected: None@videogames.db'

In [3]:
%%sql 
DROP TABLE Publisher;
DROP TABLE Platform;
DROP TABLE Region;
DROP TABLE Genre;
DROP TABLE ProductSalesFact;

Done.
Done.
Done.
Done.
Done.

[]

## Create tables for Database

### Create PUBLISHER table

In [4]:
%%sql

CREATE TABLE Publisher (
    PublisherID INTEGER PRIMARY KEY,
    PublisherName TEXT NOT NULL
);

Done.

[]

### Create PLATFORM table

In [5]:
%%sql

CREATE TABLE Platform (
    PlatformID INTEGER PRIMARY KEY,
    PlatformName TEXT NOT NULL 
);

Done.

[]

### Create REGION table

In [6]:
%%sql

CREATE TABLE Region (
    RegionID INTEGER PRIMARY KEY,
    RegionName TEXT NOT NULL 
);

Done.

[]

### Create GENRE table

In [7]:
%%sql

CREATE TABLE Genre (
    GenreID INTEGER PRIMARY KEY,
    GenreName TEXT NOT NULL 
);

Done.

[]

### Create PRODUCTSALESFACT table

In [8]:
%%sql

CREATE TABLE ProductSalesFact (
    ProductID INTEGER PRIMARY KEY,
    PublisherID INTEGER NOT NULL, 
    PlatformID INTEGER NOT NULL,
    RegionID INTEGER NOT NULL,
    GenreID INTEGER NOT NULL,
    Year INTEGER NOT NULL,
    FOREIGN KEY (PublisherID) REFERENCES Publisher (PublisherID),
    FOREIGN KEY (PlatformID) REFERENCES Platform (PlatformID),
    FOREIGN KEY (RegionID) REFERENCES Region (RegionID),
    FOREIGN KEY (GenreID) REFERENCES Genre (GenreID)
);

Done.

[]

## View tables with PRAGMA queries

### PRAGMA query: Publisher

In [9]:
%%sql
pragma table_info('Publisher');

Done.

[(0, 'PublisherID', 'INTEGER', 0, None, 1),
 (1, 'PublisherName', 'TEXT', 1, None, 0)]

### PRAGMA query: Platform

In [10]:
%%sql
pragma table_info('Platform');

Done.

[(0, 'PlatformID', 'INTEGER', 0, None, 1),
 (1, 'PlatformName', 'TEXT', 1, None, 0)]

### PRAGMA query: Region

In [11]:
%%sql
pragma table_info('Region');

Done.

[(0, 'RegionID', 'INTEGER', 0, None, 1), (1, 'RegionName', 'TEXT', 1, None, 0)]

### PRAGMA query: Genre

In [12]:
%%sql
pragma table_info('Genre');

Done.

[(0, 'GenreID', 'INTEGER', 0, None, 1), (1, 'GenreName', 'TEXT', 1, None, 0)]

### PRAGMA query: ProductSalesFact

In [13]:
%%sql
pragma table_info('ProductSalesFact');

Done.

[(0, 'ProductID', 'INTEGER', 0, None, 1),
 (1, 'PublisherID', 'INTEGER', 1, None, 0),
 (2, 'PlatformID', 'INTEGER', 1, None, 0),
 (3, 'RegionID', 'INTEGER', 1, None, 0),
 (4, 'GenreID', 'INTEGER', 1, None, 0),
 (5, 'Rating', 'TEXT', 1, None, 0),
 (6, 'Developer', 'TEXT', 1, None, 0)]