## Import modules and connect to database

In [14]:
import sqlite3
import pandas as pd
import sqlalchemy
import matplotlib.pyplot as plt
%load_ext sql

%sql sqlite:///videogames.db
conn = sqlite3.connect('videogames.db')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
#Uploading the csv
videogames = pd.read_csv('VIDEOGAMESSALES.csv')
videogames.count()

ProductID       16598
Name            16598
Platform        16598
PlatformID      16598
Year            16327
Genre           16598
GenreID         16598
Publisher       16540
PublisherID     16598
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64

In [24]:
%%sql
DROP TABLE VideoGameTable;
CREATE TABLE VideoGameTable (
    ProductID Integer NOT NULL,
    Name Text NOT NULL,
    PlatformID Integer NOT NULL,
    Platform TEXT NOT NULL,
    Year Integer,
    Genre Text NOT NULL,
    GenreID Integer NOT NULL,
    Publisher TEXT,
    PublisherID Integer NOT NULL,
    NA_Sales Numeric NOT NULL,
    EU_Sales Numeric NOT NULL,
    JP_Sales Numeric NOT NULL,
    Other_Sales Numeric NOT NULL,
    Global_Sales Numeric NOT NULL
);

Done.
Done.

[]

In [25]:
videogames.to_sql("VideoGameTable", conn, if_exists="append", index = False)

In [26]:
%%sql
INSERT INTO Publisher 
SELECT PublisherID, Publisher
FROM VideoGameTable;

16598 rows affected.

[]

In [27]:
%%sql
INSERT INTO Platform
SELECT PlatformID, Platform
FROM VideoGameTable;

16598 rows affected.

[]

In [28]:
%%sql
INSERT INTO Region 
SELECT ProductID, Global_Sales, NA_Sales, EU_Sales, JP_Sales, Other_Sales
FROM VideoGameTable;

16598 rows affected.

[]

In [29]:
%%sql
INSERT INTO Genre
SELECT GenreID, Genre
FROM VideoGameTable;

16598 rows affected.

[]

In [30]:
%%sql
INSERT INTO ProductSalesFact
SELECT ProductID, PublisherID, PlatformID, Global_Sales, GenreID, Year
FROM VideoGameTable;

16598 rows affected.

[]

In [33]:
#Count number of nintendo games in 1990
%%sql
SELECT *
FROM ProductSalesFact
WHERE Year = 1990;

SyntaxError: invalid syntax (<ipython-input-33-86ce4957849f>, line 2)